

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>@Suteki.TardisBank.Web.Lang.AdministerYourAccount</h2>
<p>@Suteki.TardisBank.Web.Lang.DeleteAccountPresentation</p>
<p>@Html.ActionLink(Suteki.TardisBank.Web.Lang.DeleteMyAccount, "DeleteParentConfirm")</p>


