

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>@Suteki.TardisBank.Web.Lang.AdministerYourAccount</h2>
<p>@Suteki.TardisBank.Web.Lang.DeleteAccountPresentation</p>
<p>@Html.ActionLink(Suteki.TardisBank.Web.Lang.DeleteMyAccount, "DeleteParentConfirm")</p>

<p>To change your password, click the button below.</p>
<p>@Html.ActionLink("Change my password", "ChangePassword")</p>


