@model MakePaymentViewModel

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
	var paymentConfirmedMessage = String.Format(Suteki.TardisBank.Web.Lang.FormatPaymentConfirmedMessage, Model.Amount.ToString("0.00"), Model.ChildName, Model.Description);
}

<h2>@Suteki.TardisBank.Web.Lang.PaymentConfirmed</h2>
<p>@paymentConfirmedMessage</p>
<p>@Html.ActionLink(Model.ChildName + "'s Account", "ParentView", "Account", new { id = @Model.ChildId }, null)</p>


