@model WithdrawCashViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    var WithdrawlConfirmedMessage = String.Format(Lang.FormatWithdrawlConfirmedMessage, Model.Amount.ToString("c"));
}

<h2>@Lang.WithdrawlConfirmed</h2>
<p>@Lang.FormatWithdrawlConfirmedMessage</p>
<p>@Html.ActionLink(Lang.BackToYourAccount, "ChildView", "Account")</p>