@model WithdrawCashForChildViewModel

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
	String WithdrawlConfirmedMessage = String.Format(Lang.FormatWithdrawlConfirmedMessage, Model.Amount, Model.ChildName);
	String ChildAccount = String.Format(Lang.FormatChildAccount, Model.ChildName);
}
<h2>@Lang.WithdrawlConfirmed</h2>
<p>@WithdrawlConfirmedMessage</p>
<p>@Html.ActionLink(@ChildAccount, "ParentView", "Account", new { id = @Model.ChildId }, null)</p>


