

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>@Lang.ActivationFailed</h2>
<p>@Lang.ActivationFailedDescription1</p>
<p>@Lang.ActivationFailedDescription2</p>
<p>@Lang.ActivationFailedDescription3 
<a href="mailto:info@tardisbank.com?subject=I%20could%20not%20activate%20my%20account">info@tardisbank.com</a></p>


