

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>@Lang.Congratulations</h2>
<p>@Lang.NowRegisteredPleaseLogin</p>
<p>@Html.ActionLink(Lang.Login, "Login")</p>



