@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>@Lang.CheckYourEmail</h2>
<p>@Lang.CheckYourEmailDescription1</p>
<p>@Lang.CheckYourEmailDescription2 <a href="mailto:info@tardisbank.com?subject=I%20did%20not%20get%20an%20activation%20email">info@tardisbank.com</a></p>

