

@using Suteki.TardisBank.Web;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="grid_8 rightline">
    <h2>@Lang.LegalTitle</h2>
    <p>@Lang.LegalDescription1</p>
    <p>@Lang.LegalDescription2</p>
    <p>@Lang.LegalDescription3</p>
</div>

<div class="grid_3">&nbsp;</div>

